@import "../../blocks/image-comparison-slider/image-comparison-slider.scss";

.result-nutrition {
	background-color: $gallery-10;
	padding: 27px 0;

	@include media-tablet {
		background-color: transparent;
		padding: 4%;
	}

	@include media-desktop {
		display: flex;
		padding: 0;
	}
}

.result-nutrition__wrapper {
	max-width: 280px;
	margin: 0 auto;
	overflow: hidden;

	@include media-tablet {
		max-width: 900px;
	}

	@include media-desktop {
		// max-width: 436px;
		max-width: auto;
		padding-top: 69px;
	}
}

.result-nutrition__wrapper-not-title {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: -70px;
		left: -2000px;
		display: block;
		width: 4000px;
		height: 442px;
		background-color: $concrete;
	}

	@include media-tablet {
		&::before {
			background-color: transparent;
		}
	}

	@include media-desktop {
		// margin-top: 69px;
		margin-bottom: 146px;
	}
}

.result-nutrition__title {
	line-height: 40px;
	margin-bottom: 33px;

	@include media-tablet {
		margin-bottom: 63px;
	}

	@include media-desktop {
		margin-bottom: 143px;
	}
}

.result-nutrition__text {
	margin: 0;
	margin-bottom: 25px;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: $tundoraapprox;

	@include media-tablet {
		margin-bottom: 54px;
		font-size: 16px;
		line-height: 24px;
	}

	@include media-desktop {
		margin-bottom: 69px;
	}
}

.result-nutrition__parameters-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 26px;

	@include media-desktop {
		margin-bottom: 73px;
	}
}

.result-nutrition__parameters {
	@include media-tablet {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}

	@include media-desktop {
		flex-direction: column;
	}
}

.result-nutrition__parameter {
	display: flex;
	flex-direction: column;
	max-width: 124px;
	padding: 17px;
	padding-bottom: 0;
	text-align: center;
	border: 1px solid $silver;
	box-sizing: border-box;
	border-radius: 3px;

	@include media-tablet {
		max-width: 162px;
		padding: 33px;
		padding-top: 18px;
		padding-bottom: 0;
	}
}

.result-nutrition__parameter--first {
	margin-right: 42px;
}

.result-nutrition__parameter-unit {
	font-weight: normal;
	font-size: 24px;
	line-height: 14px;
	color: $black;

	@include media-tablet {
		font-size: 30px;
		line-height: 24px;
	}
}

.result-nutrition__parameter-description {
	position: relative;
	top: 16px;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	color: $tundoraapprox;
	background-color: $gallery-10;

	@include media-tablet {
		background-color: $white;
	}

	@include media-desktop {
		background-color: $concrete;
	}
}

.result-nutrition__money-spent {
	margin-bottom: 42px;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;

	@include media-tablet {
		display: flex;
		flex-direction: column;
		margin: 0;
		font-size: 20px;
		line-height: 32px;
		text-align: end;
	}

	@include media-desktop {
		flex-direction: row;
	}
}

.result-nutrition__summ {
	@include media-desktop {
		margin-left: 63px;
	}
}
