@import "../../blocks/location/location.scss";

.footer {
	display: flex;
	flex-direction: column;
	background-color: $concrete;

	@include media-tablet {
	}

	@include media-desktop {
	}
}

.footer__list {
	margin: 0;
	padding: 0;
	list-style: none;
	padding: 0 6.25%;
	padding-top: 10px;

	@include media-tablet {
		padding: 40px 3.9%;
		padding-top: 50px;
		display: flex;
		justify-content: space-between;
	}

	@include media-desktop {
		width: 1200px;
		margin: 0 auto;
	}
}

.footer__list-item {
	position: relative;
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 20px 0;

	&:not(:last-child) {
		border-bottom: 1px solid $alto-9;
	}

	@include media-tablet {
		width: auto;
		padding: 0;
		&:not(:last-child) {
			border: none;
		}
	}

	&:nth-child(1) .footer__social-list__icon {
		width: 29px;
		height: 17px;
	}
	&:nth-child(2) .footer__social-list__icon {
		width: 23px;
		height: 13px;
	}
	&:nth-child(2) .footer__social-list__icon {
		width: 28px;
		height: 33px;
	}
}

.footer__logo-link {
	&:hover,
	&:focus {
		opacity: 0.8;
	}
	&:active {
		opacity: 0.6;
	}
}

.footer__social-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;

	@include media-tablet {
		width: 150px;
	}
}

.footer__social-list__link {
	padding: 0;
	margin: 0;

	&:not(:last-child) {
		margin-right: 23px;
	}
}

.footer__social-list__link:focus .footer__social-list__icon,
.footer__social-list__link:hover .footer__social-list__icon {
	stroke: $apple;
}

.footer__social-list__link:active .footer__social-list__icon {
	opacity: 0.3;
}

.footer__social-list__icon {
	fill: transparent;
	stroke: $dove-gray;
}

.footer__copyright {
	margin: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: $tundoraapprox;
	font-family: Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;

	&:active {
		opacity: 0.3;
	}
}

.footer__copyright:focus .footer__copyright-icon,
.footer__copyright:hover .footer__copyright-icon {
	fill: $apple;
	stroke: $apple;
}

.footer__copyright-icon {
	display: inline-block;
	width: 27px;
	height: 34px;
	margin-left: 12px;
	vertical-align: middle;
	stroke: $dove-gray;
}
