{% import "../../global/page/mixins.njk" as mixins %}

{%
	set data = {
		class: "footer",
		logo: {
			class: "footer__icon",
			width: 128,
			height: 24,
			name: "icon-footer-logo",
			type: "multi"
		},
		socialList: {
			class: "footer__social-list",
			itemClass: "footer__social-list__item",
			linkClass: "footer__social-list__link",
			items: [
				{
					ariaLabel: "Твитер",
					href: "twitter.com",
					sprite: {
						class: "footer__social-list__icon",
						name: "icon-vkontakte",
						width: "23",
						height: "16"
					}
				},
				{
					ariaLabel: "Фейсбук",
					href: "facebook.com",
					sprite: {
						class: "footer__social-list__icon",
						name: "icon-facebook",
						width: "22",
						height: "22"
					}
				},
				{
					ariaLabel: "Ютуб",
					href: "youtube.com",
					sprite: {
						class: "footer__social-list__icon",
						name: "icon-instagram",
						width: "16",
						height: "16"
					}
				}
			]
		},
		copyright: {
			text: "Разработано",
			href: "#",
			sprite: {
				name: "icon-html-academy",
				class: "footer__copyright-icon",
				width: "27",
				height: "34",
				type: "mono"
			}
		},
		footerListClass: "footer__list",
		footerItemClass: "footer__list-item"
	}
%}

<section class="{{ data.class }}">
	{# {% include "blocks/location/location.njk" %} #}
	<div class="container">
		<ul class="{{ data.footerListClass }}">
			<li class="{{ data.footerItemClass }}">
				{{ mixins.sprite(data.logo) }}
			</li>
			<li class="{{ data.footerItemClass }}">
				<ul class="{{ data.socialList.class }}">
					{% for socialItem in data.socialList.items %}
						<li class="{{ data.socialList.itemClass }}">
							<a class="{{ data.socialList.linkClass }}" href="{{ socialItem.href }}" aria-label="{{ socialItem.ariaLabel }}">
								{{ mixins.sprite(socialItem.sprite) }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</li>
			<li class="{{ data.footerItemClass }}">
				<a class="footer__copyright" href="{{ data.copyright.href }}">
			Разработано
			{{ mixins.sprite(data.copyright.sprite) }}
				</a>
			</li>
		</ul>
	</div>
</section>
