@import "../../../node_modules/normalize.css/normalize";
@import "variables";
@import "mixins.scss";
@import "../../blocks/header/header.scss";
@import "../../blocks/footer/footer.scss";

@include font-face('Oswald', '../fonts/oswald-v36-latin_cyrillic', 400, 'normal');
@include font-face('Oswald', '../fonts/oswald-v36-latin_cyrillic', 500, 'normal');

body {
  @include font-oswald($black, 14px, 26px, 400);
  font-style: normal;
  min-width: 320px;
  background-color: $white;
  mix-blend-mode: normal;
	overflow-x: hidden;
}

picture {
  display: block;
  line-height: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.container {
	position: relative;
  max-width: 1200px;
	margin: 0 auto;
}

.section-title {
	margin: 0;
	font-size: $fs-36;
	line-height: $lh-36;
	color: $black;
	font-weight: $fw-400;

	@include media-tablet {
		font-size: $fs-60;
		line-height: $lh-60;
	}
}

.button {
	padding: 13px 0;
	width: 100%;
	font-size: $fs-16;
	line-height: $lh-16;
	color: $white;
	text-transform: uppercase;
	text-align: center;
	border: 0;
	cursor: pointer;

	@include media-tablet {
		font-size: $fs-20;
		line-height: $lh-20;
	}
}

.button--green-apple {
	background-color: $apple;

	&:hover,
	&:focus {
		background-color: $apple-2;
	}

	&:active {
		color: rgba($white, 0.3);
	}
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
