//colors
$mercury-5: #e5e5e5;//
$mercury-6: #e6e6e6;//
$concrete: #f2f2f2;//
$alto-5: #d5d5d5;//
$alto-6: #d6d6d6;//
$alto-9: #d9d9d9;//
$alto-11: #dbdbdb;//
$alto-12: #DCDCDC;
$gallery-10: #eaeaea;//
$gallery-14: #eeeeee;//
$half-baked: #81b3d2;//
$fountain-blue: #669ec0;//
$shuttle-gray: #5C6870;
$steel-blue: #5496bd;//
$silver: #CDCDCD;
$black: #000000;//
$mine-shaft: #333333;//
$white: #ffffff;//
$red: #ff0000;//
$bright: #af0000;//
$pine: #756256;//
$pine-cone: #766357;
$kabul: #604d42;//
$apple: #68B738;
$apple-2: #5EAA2F;
$tundoraapprox: #444444;
$dove-gray: #666666;
$cod-gray: #111111;
$mine-shaft: #222222;

$fw-700: 700;
$fw-600: 400;
$fw-500: 400;
$fw-400: 400;

$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;//global
$fs-20: 20px;
$fs-21: 20px;
$fs-30: 30px;
$fs-36: 36px;
$fs-60: 60px;

$lh-14: 14px;
$lh-16: 16px;
$lh-20: 20px;
$lh-21: 21px;
$lh-24: 24px;
$lh-26: 26px;//global
$lh-36: 36px;//global
$lh-40: 40px;
$lh-60: 60px;
